#
# iOS {{ which.capitalize() }} Mode Theme - {{ color }}
#
ios-{{ which }}-mode-{{ color }}{{ suffix }}:
  # Background Image (core feature)
  background-image: "center / cover no-repeat fixed url('{{ background }}')"
  lovelace-background: var(--background-image)
  # Background Colors (gray instead of black)
  primary-background-color: {{ primary_background_color }}  # systemGray5 {{ which }} mode
  secondary-background-color: {{ secondary_background_color }}
  divider-color: {{ divider_color }}  # from Apple systemGray {{ which }} mode
  # Text Colors (essential for readability)
  primary-text-color: {{ primary_text_color }}
  secondary-text-color: {{ secondary_text_color }}
  text-primary-color: "#FFF"
  disabled-text-color: "#555"
  ha-color-text-secondary: {{ ha_color_text_secondary }}
  # Sidebar Colors
  sidebar-background-color: var(--primary-background-color)
  sidebar-icon-color: {{ light_primary_color }}
  sidebar-text-color: {{ sidebar_text_color }}
  sidebar-selected-icon-color: {{ sidebar_selected_icon_color }}
  sidebar-selected-text-color: var(--sidebar-selected-icon-color)
  # Icon Colors
  state-icon-color: "#FFF"
  paper-item-icon-color: {{ paper_item_icon_color }}
  # HA Default Blue Button/Gradient Colors
  rgb-primary-color: {{ rgb_primary_color }}
  ha-color-fill-primary-quiet-resting: rgba(3, 169, 244, 0.15)
  ha-color-fill-primary-normal-active: {{ ha_color_fill_primary_normal_active }}
  ha-color-fill-primary-normal-hover: {{ ha_color_fill_primary_normal_hover }}
  ha-color-fill-primary-loud-active: {{ ha_color_fill_primary_loud_active }}
  ha-color-fill-primary-loud-hover: {{ ha_color_fill_primary_loud_hover }}
  button-color-fill-normal-active: var(--ha-color-fill-primary-normal-active)
  button-color-fill-normal-hover: var(--ha-color-fill-primary-normal-hover)
  button-color-fill-loud-active: var(--ha-color-fill-primary-loud-active)
  button-color-fill-loud-hover: var(--ha-color-fill-primary-loud-hover)
  # Cards (transparency and iOS rounded corners)
  ha-card-border-radius: 20px
  ha-card-background: {{  ha_card_background }}
  paper-card-background-color: var(--ha-card-background)
  rgb-card-background-color: {{ rgb_card_background }} # see https://github.com/basnijholt/lovelace-ios-themes/issues/60
  ha-card-border-width: 0  # https://github.com/basnijholt/lovelace-ios-dark-mode-theme/issues/82#event-7732695357
  card-background-color: var(--secondary-background-color)  # Unused entities table background
  clear-background-color: var(--ha-card-background)  # see https://github.com/basnijholt/lovelace-ios-themes/issues/64
  # Dialogs (transparency)
  paper-dialog-background-color: {{ paper_dialog_background_color }}  # e.g., background of more-info
  more-info-header-background: {{ more_info_header_background }}
  # Table rows
  table-row-background-color: var(--primary-background-color)
  table-row-alternative-background-color: var(--secondary-background-color)
  # Other backgrounds
  paper-listbox-background-color: var(--primary-background-color)
  app-header-background-color: {{ app_header_background_color }}
